{% extends "layout.html" %}
{% block title %}Guest Registration{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Guest Registration</h1>
<form action="/addmovie" method="POST">
    <div class="form-group">
        <label for="namefield">Title</label>
        <input type="text" class="form-control" id="namefield" name="title" aria-describedby="emailHelp" placeholder="Movie title">
    </div>
    <div class="form-group">
        <label for="emailfield">Description</label>
        <input type="text" class="form-control" id="emailfield" name="description" aria-describedby="emailHelp" placeholder="Description">
    </div>
    <div class="form-group">
        <label for="partyfield">Movie length</label>
        <input type="number" min="0" step="1" class="form-control" id="partyfield" name="length" aria-describedby="partyHelp" value="0">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
{% endblock %}