{% extends "layout.html" %}
{% block title %}Orders{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <h3>Reading from {{ demo }} server : {{ host }}</h3>
            </td>
            <td>
                <p class="navbar-btn">
                    <a href="/cutover" class="btn btn-default">Cutover</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h1>Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.orderdate }}</td>
            <td>{{ order.quantity }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
