click==6.7
Flask==0.12.4
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pip==21.1
psycopg2==2.7.4
PyMySQL==0.8.0
setuptools==28.8.0
SQLAlchemy==1.2.7
Werkzeug==0.14.1
