body {
    font-family: "Segoe UI", "Lucida Grande";

}

div {
	padding-left: 20px;
    padding-right: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div.col1 { 
	float: right; 
	
}

div.col2 { 
	float: left; 
}

h1 {
	padding-left: 20px;
    padding-right: 40px;
	font-weight: bold;
    font-family: "Segoe UI Semibold", "Lucida Grande";
    font-weight: normal;
    font-size: 28pt;
    letter-spacing: 0px;
    color: #505050;
}

h2 {
	font-weight: bold;
    font-family: "Segoe UI Semibold", "Lucida Grande";
    font-weight: lighter;
    font-size: 14pt;
}

h3 {
	font-weight: bold;
    font-family: "Segoe UI Semibold", "Lucida Grande";
    font-weight: lighter;
    font-size: 12pt;
}

a {
    font-family: "Segoe UI Semibold", "Lucida Grande";
    text-decoration: none;
    color:rgb(0, 115, 198);
}

a:hover {
    font-family: "Segoe UI Semibold", "Lucida Grande";
    text-decoration: underline;
}

.white-text{
	color: white;
}

.black-text {
	color: black;
}
table {
  border-collapse: collapse;
  vertical-align: middle;
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
}

td {
	border: 1px solid black;
	padding: 8px;
    padding-right: 20px;
}
th {
	vertical-align: middle;
}

th li {
	display: inline-block;
	padding: 10px
}

ul {
    padding-top: 10px;
}

.button {		
	background-color: rgb(0, 115, 198);
    border-radius: 4px;
    color: white important!;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
}

.gray-section {
    clear: both;
    background:#ebebeb;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.blue-section {
    clear: both;
	display: block;
    text-align:left;
    background:rgb(0, 115, 198);
    margin-bottom: 20px;
    width: 100%;
    /* height: 200; */
	color: white;
}

.asterisk {
    font-size: 10pt;
    font-weight: 500;
}

.announcement {
    width: 100%;
    background: #000000;
    color: #ffffff;
    margin-bottom: 20px;
}

.announcement p {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.announcement-highlight {
    color: #4ce0fa;
}

.blink {
    animation: animate 1.5s linear infinite
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.social-media-icons {
    float: right; 
  }


.top-navigation {  
    width: 100%;
    overflow: hidden;
    display: inline-block;
    background-color: #333
  }

.top-navigation-left {
    width: 30%;
    float: left;
}

.top-navigation-right {
    width: 50%;
    float: right;
}

.top-navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 14px 16px;
    font-size: 17px;
}

.top-navigation a:hover {
    background-color: #1C73C6;
    color: white;
}

.top-navigation a.active {
    background-color: #1C73C6;
    color: white;
}

.top-navigation-left p {
    font-size: 17px;
    color: white;
	font-weight: normal;
    font-family: "Segoe UI Semibold", "Lucida Grande";
    letter-spacing: 0px;
    display: inline-block;
    word-wrap: break-word;
}